<div class="report-form">
    <div class="title">
        Reportes de uso
    </div>
    <%= form_tag ('/reports') do %>
        <div class="report-cards">    
            <div class="report-filters">
            <%= label_tag "Tipos de reporte: " %>
            <%= select_tag "report_type", options_for_select(@report.options, @report.options.first), :onchange => "change_report_type(this.options[this.selectedIndex].value);" %>
            </div>
            <div class="months-filter" id="months-options">
                <div class="month">
                    <%= label_tag "Mes inicial: " %>
                    <div class="select-data">
                        <%= select_tag "initial_month", options_for_select(@report.frequencies, @report.frequencies.first), :onchange => "change_initial_month(this.options[this.selectedIndex].value);" %>
                    </div>
                </div>
                <div class="month">
                    <%= label_tag "Mes final: " %>
                    <div class="select-data">
                        <%= select_tag "final_month", options_for_select(@report.frequencies, @report.frequencies.last), :onchange => "change_final_month(this.options[this.selectedIndex].value);" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="report-section">
            <%= render :partial => 'reports/report', :locals => {:results => @results} %>
        </div>

    <% end %>
</div>

<script type="text/javascript">

  function change_report_type(report_state)
 {
    var report_type = report_state;

    var start_frequency_element = document.getElementById("initial_month");
    var start_report_frequency = start_frequency_element.options[start_frequency_element.selectedIndex].value;

    var final_frequency_element = document.getElementById("final_month");
    var final_report_frequency = final_frequency_element.options[final_frequency_element.selectedIndex].value;

    if (report_type === "<%= Report::SONG_OPTION %>"){
        document.getElementById("months-options").style.display="none";
    } else{
        document.getElementById("months-options").style.display="";
    }

    $.ajax({
        type: 'GET',
        url: '/reports/generate',
        data: {"report_type" : report_type, "start_report_frequency": start_report_frequency, "final_report_frequency": final_report_frequency},
        success: function(result) {
        }
    });
  }

  function change_initial_month(initial_month){

    var report_element = document.getElementById("report_type");
    var report_type = report_element.options[report_element.selectedIndex].value;

    var start_report_frequency = initial_month;

    var final_frequency_element = document.getElementById("final_month");
    var final_report_frequency = final_frequency_element.options[final_frequency_element.selectedIndex].value;

    $.ajax({
        type: 'GET',
        url: '/reports/generate',
        data: {"report_type" : report_type, "start_report_frequency": start_report_frequency, "final_report_frequency": final_report_frequency},
        success: function(result) {
        }
    });

  }

  function change_final_month(final_month){

    var report_element = document.getElementById("report_type");
    var report_type = report_element.options[report_element.selectedIndex].value;

    var start_frequency_element = document.getElementById("initial_month");
    var start_report_frequency = start_frequency_element.options[start_frequency_element.selectedIndex].value;

    var final_report_frequency = final_month;

    $.ajax({
        type: 'GET',
        url: '/reports/generate',
        data: {"report_type" : report_type, "start_report_frequency": start_report_frequency, "final_report_frequency": final_report_frequency},
        success: function(result) {
        }
    });
  }

    
</script>
